# Required - Core CMS root URL
CORE_API=https://localhost:45437

# Required - MSAL auth parameters
MSAL_CLIENT_ID=
MSAL_AUTHORITY=https://login.microsoftonline.com/

# Required - TinyMCE cloud key
TINYMCEAPIKEY=KEY

# Optional - Used only for swagger client generation
CORE_API_SWAGGER=https://localhost:45437/swagger/v1/swagger.json

#Required - Code version
VERSION=1.0.0